body {
  background: url("http://www.intrawallpaper.com/static/images/cool-background.jpg");
  no-repeat center center-fixed;
  width: 100%;
  background-size: cover;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex: 1;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid white;
  border-radius: 50%;
  margin: 20px auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #EFEFEF, inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
  /* account for the height of the clock hands */
}

.tick {
  width: 50%;
  height: 6px;
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(.61,1.73,0,.97);
}

div {margin:0 auto;}

p{margin-top:50px;
  display:inline-block;
  font-size:4em;
  color:white;
  font-family:Lobster;
  text-shadow:10px 1px  black;
  text-align:center;

}
.heart{display:inline-block;
  text-align:center;
  animation:move 0.8s infinite;
 
}
@keyframes move{
  0%{transform:translateY(0px);}
  25%{transform:translateY(-28px);}
  50%{transform:translateY(0px);}
  75%{transform:translateY(28px);}
  100%{transform:translateY(0px);}
  
}

.and{text-align:center;
display:inline-block;
  animation:spin 2s infinite ;

  padding-left:25px;
  padding-right:20px;
}
@keyframes spin{
  from{transform:rotateX(0deg);
  color:white;
  }
    to{transform:rotateX(360deg);
 color:red;
  }
}

.headphones{
  display:inline-block;
  animation:goup 0.8s infinite;

}
@keyframes goup{0%{transform:translateY(0px);}
  25%{transform:translateY(-28px);}
  50%{transform:translateY(0px);}
  75%{transform:translateY(28px);}
  100%{transform:translateY(0px);}
  
}


.main{diplay:inline-block;
  animation:change-color 5s infinite;
}
@keyframes change-color{
  0%{color:white;}
  2%{color:#d27979;}
  4%{color:#b3003b;}
  6%{color:#73264d;}
  8%{color:#990099;}
  10%{color:#4d194d;}
  12%{color:#1a001a;}
  14%{color:#9900cc;}
  16%{color:#b84dff;}
  18%{color:#cc99ff;}
  20%{color:#666699;}
  22%{color:#333399;}
  24%{color:#0000cc;}
  26%{color:#3333ff;}
  28%{color:#3366cc;}
  30%{color:#00ccff;}
  32%{color:#0099e6;}
  34%{color:#339966;}
  36%{color:#339933;}
  38%{color: #00cc66;}
  40%{color:#00ff00;}
  42%{color: #009900;}
  44%{color:#003300;}
  46%{color:#336600;}
  48%{color:#ffff80;}
  50%{color:#ffff33;}
  52%{color:#e6e600;}
  54%{color:#5c5c3d;}
  56%{color:#d2a679;}
  58%{color:#996633;}
  60%{color:#4d3319;}
  62%{color:#261a0d;}
  64%{color: #ff99ff;}
  68%{color:#ff4dff;}
  70%{color:#cc00cce;}
  72%{color:#4d004d;}
  74%{color:#ff3399;}
  76%{color:#b30059;}
  78%{color:#ff1a1a;}
  80%{color:#cc0000;}
  82%{color:#660000;}
  84%{color:#4da6ff;}
  86%{color:#0000ff;}
  88%{color:#00ff00;}
  90%{color:#ff0000;}
  92%{color:#999966;}
  94%{color: #ffcc00;}
  96%{color:#cc0099;}
  98%{color:white;}
  100%{color:white;}
}













.evan{display:inline-block;
  animation:big 2s infinite alternate-reverse;
  
  padding-right:90px;
padding-left:80px;
}  
@keyframes big{
  from{transform:scale(1);}
  to{transform:scale(1.9);}
}
  
  .bracket{color:red;
font-size:1.5em;
    animation:hidden 2s infinite alternate-reverse;

}
@keyframes hidden{
  
  from{opacity:1;}
  to{opacity:0;}
}  
    
  
  
  
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
}
